{{> navbar}}

<main class="fondo">
  <div>
    <div class="d-flex justify-content-center align-items-center h-100"
         style="position: relative; z-index: 1; width: 500px">
      <div class="container rounded text-dark w-75 p-5" style="background-color: #1e2b39e6;">
        <div class="p-4">
          <h2 class="text-center text-white">Panel del Editor</h2>
          <p class="text-center text-white">Bienvenido, editor.</p>

          <div class="d-flex flex-column gap-3">
            <a href="/editor/preguntas" class="btn btn-light">Gestionar Preguntas</a>
            <a href="/editor/reportes" class="btn btn-light">Revisar Reportes</a>
            <a href="/editor/sugerencias" class="btn btn-light">Revisar Sugerencias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>